<launch>

<!--I'm not sure if the find_object_node can be launched before the camera_converter node-->
  <node name="camera_converter" pkg="the_mighty_sawyer" type="camera_converter"/>
  <node name="find_object_2d" pkg="find_object_2d" type="find_object_2d"
        args="-_objects_path $(find the_mighty_sawyer)/images/vision -image image_converted -_gui false"/>
  <node name="grab_bag_server" pkg="the_mighty_sawyer" type="grab_bag_server"/>


</launch>
