<launch>

  <!-- launch object detection and bag detection services -->
  <node name="camera_converter" pkg="the_mighty_sawyer" type="camera_converter"/>
    <node name="find_object_2d" pkg="find_object_2d" type="find_object_2d" args="image:=image_converted">
        <param name="~gui" value="false"/>
        <param name="~objects_path" value="$(find the_mighty_sawyer)/images/vision" />
    </node>
  <node name="grab_bag_server" pkg="the_mighty_sawyer" type="grab_bag_server"/>


</launch>
