<launch>

  <!-- sim determines if the gazebo simulation of sawyer is launched.
       The test_movement_sawyer.py file can test the services offered by
       sawyer_movement_server -->

  <arg name='sim' default='False'/>

  <group if="$(arg sim)">
    <include file="$(find sawyer_gazebo)/launch/sawyer_world.launch">
      <arg name="electric_gripper" value="true"/>
    </include>
  </group>

  <node name="JointTrajectoryActionServer" pkg="intera_interface" type="joint_trajectory_action_server.py" output="screen"/>
  <node name="sawyer_movement_server" pkg="the_mighty_sawyer" type="sawyer_movement_server" output="screen"/>

</launch>
